<form name="restorePassword" class="restore-password-div" data-ng-controller="restorePasswordcontroller">

    <div class="row">
        <div class="col-md-12">
            <input class="form-control email-txt" type="text" ng-disabled="true" data-ng-model="email" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control sms-reset-code" type="text" data-ng-model="resetCode" placeholder="کد ارسالی پیام کوتاه" required />

            <span style="color:red" ng-show="restorePassword.resetCode.$dirty && restorePassword.resetCode.$invalid">
                <span ng-show="restorePassword.resetCode.$error.required">لطفا کد را وارد نمایید</span>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="password" data-ng-model="newPass" placeholder="رمزعبور جدید" required />
       
            <span style="color:red" ng-show="restorePassword.password.$dirty && restorePassword.password.$invalid">
                <span ng-show="restorePassword.password.$error.required">لطفا رمزعبور جدید را وارد نمایید</span>
            </span>
         </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input class="form-control" type="password" data-ng-model="confirmNewPass" placeholder="تکرار رمزعبور" required />
       
            <span style="color:red" ng-show="restorePassword.confirmNewPass.$dirty && restorePassword.confirmNewPass.$invalid">
                <span ng-show="restorePassword.confirmNewPass.$error.required">لطفا تکرار رمزعبور جدید را وارد نمایید</span>
            </span>
         </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" data-ng-click="restorePass()" class="btn btn-success btn-lg btn-restore-pass">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> ثبت
            </button>

            <button type="button" data-ng-click="cancelRestorePass()" class="btn btn-warning btn-lg btn-cancel-restore-pass">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> انصراف
            </button>
        </div>
    </div>

</form>
